* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../Images/weather-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
